@model ProductVM
<style>
    .row {
        width: 100%;
        margin-top: 7rem;
        right: 8rem;
    }
</style>




@section Css{
    <style>
        .card-button{
            position: absolute;
            width: 71px;
        }
        .card-button span{
            font-size:10px
        }
        .main {
            border: 1px solid red;
        }

        .hover {
            border: 1px solid green;
        }
    </style>
}
<h4>ProductVM</h4>
<hr />
<div class="row">
    <div class="col-md-6">

        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="row images my-4">
                @foreach (var image in Model.AllImages)
                {
                    <div class="col-3">
                        <div class="card" style="width:152px">
                            <img style="width:150px;height:150px;object-fit:contain" src="/images/products/@image.Path" class="card-img-top @(image.IsMain == true ? "main" : "") @(image.IsMain==null ? "hover" : "")" />
                            @if (image.IsMain == false)
                            {
                                <div class="card-button">
                                    <button type="button" class="btn btn-danger w-100 delbtn"><span>Delete Image</span></button>
                                </div>
                            }
                            <input type="hidden" name="ImagesId" value="@image.Id" />
                        </div>
                    </div>
                }

            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MainPhoto" class="control-label"></label>
                <input asp-for="MainPhoto" class="form-control" accept="image/*">
                <span asp-validation-for="MainPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Second Photo</label>
                <input asp-for="HoverPhoto" class="form-control" / accept="image/*">
                <span asp-validation-for="HoverPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images" class="form-control" / accept="image/*">
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InStock" class="control-label"></label>
                <input asp-for="InStock" class="form-control" />
                <span asp-validation-for="InStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiniDesc" class="control-label"></label>
                <input asp-for="MiniDesc" class="form-control" />
                <span asp-validation-for="MiniDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Categories</label>
                <select asp-for="CategoriesIds" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))" class="form-control"></select>
                <span asp-validation-for="CategoriesIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Brands</label>
                <select asp-for="BrandIds" asp-items="@(new SelectList(ViewBag.Brands,"Id","Name"))" class="form-control"></select>
                <span asp-validation-for="BrandIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Vendors</label>
                <select asp-for="VendorIds" asp-items="@(new SelectList(ViewBag.Vendors,"Id","Name"))" class="form-control"></select>
                <span asp-validation-for="VendorIds" class="text-danger"></span>
            </div>
            <div class="mt-5 form-group">
                <label class="control-label">Size,Color and Quantity</label>
                <div class="d-flex">
                    @foreach (var item in Model.ProductSizeColors)
                    {
                        <div class="d-flex">
                            <select class="form-control sizes" asp-for="@item.SizeId" asp-items="@(new SelectList(ViewBag.Sizes, "Id", "Name"))"></select>
                            <select class="form-control colors" asp-for="@item.ColorId" asp-items="@(new SelectList(ViewBag.Colors, "Id", "Name"))"></select>
                            <input class="form-control quantity" type="number" value="@item.Quantity" />
                        </div>
                    }

                </div>
                <button class="btn btn-success add-buttons" type="button">Add</button>
                <button class="btnSubmit btn btn-danger" type="button">Save</button>

                <input type="hidden" id="product-data" name="ColorsSizesQuantity" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script>
        let delbtn = document.querySelectorAll(".delbtn");
        delbtn.forEach(btn => {
            btn.addEventListener("click", function () {
                this.parentElement.parentElement.parentElement.remove();
                console.log(this.parentElement.parentElement.parentElement)
            })
        })


        var button = document.querySelector(".btnSubmit");
        button.addEventListener("click", function () {
            var sizes = document.querySelectorAll(".sizes");
            var colors = document.querySelectorAll(".colors");
            var quantities = document.querySelectorAll(".quantity");
            var hiddenInput = document.getElementById("product-data");
            var data = [];

            for (var i = 0; i < sizes.length; i++) {
                var sizeId = sizes[i].value;
                var colorId = colors[i].value;
                var quantity = quantities[i].value.trim();

                if (quantity === '') {
                    quantity = '1';
                }

                if (quantity <= 0) {
                    return;
                }

                data.push(sizeId + "-" + colorId + "-" + quantity);
            }
            hiddenInput.value = data.join(",");

            console.log(hiddenInput);
        });

        var addButton = document.querySelector(".add-buttons");
        addButton.addEventListener("click", function () {
            var parentDiv = this.previousElementSibling;
            var newDiv = parentDiv.cloneNode(true);
            parentDiv.after(newDiv);
        });

        let delbtnSizes = document.querySelectorAll(".delbtnsize");
        delbtnSizes.forEach(btn => {
            btn.addEventListener("click", function () {
                this.parentElement.remove();
                console.log(this.parentElement)
                var id = this.getAttribute("data-id");
                var hiddenInput = document.getElementById("delete-data");
                var currentHiddenValue = hiddenInput.value;
                if (currentHiddenValue) {
                    currentHiddenValue += "," + id;
                } else {
                    currentHiddenValue = id;
                }
                hiddenInput.value = currentHiddenValue;
            })
        })

    </script>
}