@model IEnumerable<Setting>
@{
    ViewData["Title"] = "Index";
}

<style>
    body{
       
    }
    tbody{
        position: relative;
        top: 7rem;
    }
    #create {
        position: relative;
        width: 100px;
        top: 7rem;
        left: 4rem;
        display: block;
        text-decoration: none;
        transition: 0.3s;
    }

    #create {
        transition:0.3s;
        text-decoration:none;
    }

    #create:hover{
        color:white
    }
</style>
<p>
    <a id="create" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @(item.Value.Length > 15 ? string.Concat(item.Value.Substring(0, 15), "...") : item.Value)
                </td>
                <td>
                    <button class="btn btn-warning">
                        <a style="text-decoration:none;color:white" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </button>
                    <button class="btn btn-danger">
                        <a style="text-decoration:none;color:white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>